In [16]:
import pandas as pd 
import numpy as np 
import test_cleaner
import twitterscraper
import plotly.express as px 
import plotly.graph_objects as go
from googletrans import Translator
translator = Translator()
import nltk
words = set(nltk.corpus.words.words())

## Data set description

* facebook_twitter_story.csv contains media story containing Facebook from twitter 

* fb_story_withBOG.csv contains media story containing Facebook from blogs.barrons.com, Reuters, Bloomberg, Financial Times and Marketwatch

In [7]:
sentiment_ph = "/Users/ball4308/Desktop/MSc BA/BA Report /Sentiment Data Source"
fb_tw = pd.read_csv(sentiment_ph + '/facebook_twitter_story.csv')
fb_tw['publish_date'] = pd.to_datetime(fb_tw['publish_date'])
fb = pd.read_csv('fb_story_withBOG.csv').drop(columns = ['Unnamed: 0'])
fb['publish_date'] = pd.to_datetime(fb['publish_date'])
fb_tw['scraped_article'] = fb_tw['title']

In [8]:
f = pd.read_csv('financial_wiki_2017_07_08.csv')
f['Date']  = pd.to_datetime(f['Date'])
f = f.rename(columns = {'Date':'date'})
f.head()

,date,Facebook.wiki,Google.wiki,Microsoft.wiki,Amazon (company).wiki,Apple Inc..wiki,AAPL,AMZN,FB,GOOGL,...,Google.wiki_t-3_t-4,Microsoft.wiki_t-1_t-2,Microsoft.wiki_t-2_t-3,Microsoft.wiki_t-3_t-4,Amazon (company).wiki_t-1_t-2,Amazon (company).wiki_t-2_t-3,Amazon (company).wiki_t-3_t-4,Apple Inc..wiki_t-1_t-2,Apple Inc..wiki_t-2_t-3,Apple Inc..wiki_t-3_t-4
0,2015-07-08,45403,45521,10472,1,14554,112.758286,429.700012,85.650002,541.700012,...,-784.0,27.0,-180.0,192.0,1.0,1.0,0.0,1794.0,-481.0,641.0
1,2015-07-09,47202,43295,9806,1,13725,110.458405,434.390015,85.879997,544.650024,...,-1144.0,2954.0,27.0,-180.0,-2.0,1.0,1.0,1049.0,1794.0,-481.0
2,2015-07-10,46622,42652,7816,0,12394,113.411430,443.510010,87.949997,556.109985,...,1162.0,-666.0,2954.0,27.0,0.0,-2.0,1.0,-829.0,1049.0,1794.0
3,2015-07-13,47063,44437,7857,2,12479,115.600922,455.570007,90.099998,571.729980,...,-2174.0,-1990.0,-666.0,2954.0,-1.0,0.0,-2.0,-1331.0,-829.0,1049.0
4,2015-07-14,44508,45269,7314,0,11447,115.554909,465.570007,89.680000,584.179993,...,-2226.0,41.0,-1990.0,-666.0,2.0,-1.0,0.0,85.0,-1331.0,-829.0

In [9]:
fb_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4652 entries, 0 to 4651
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stories_id       4652 non-null   int64
 1   publish_date     4646 non-null   datetime64[ns]
 2   title            4652 non-null   object
 3   url              4652 non-null   object
 4   language         4633 non-null   object
 5   ap_syndicated    4652 non-null   bool
 6   themes           819 non-null    object
 7   media_id         4652 non-null   int64
 8   media_name       4652 non-null   object
 9   media_url        4652 non-null   object
 10  scraped_article  4652 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(7)
memory usage: 368.1+ KB

In [10]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4053 entries, 0 to 4052
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stories_id       4053 non-null   int64
 1   publish_date     4053 non-null   datetime64[ns]
 2   title            4053 non-null   object
 3   url              4053 non-null   object
 4   language         4053 non-null   object
 5   ap_syndicated    4053 non-null   bool
 6   themes           793 non-null    object
 7   media_id         4053 non-null   int64
 8   media_name       4053 non-null   object
 9   media_url        4053 non-null   object
 10  title_FB_only    4053 non-null   object
 11  scraped_article  4053 non-null   object
 12  BOG              4053 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(9)
memory usage: 384.1+ KB

In [11]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1282 entries, 0 to 1281
Data columns (total 66 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           1282 non-null   datetime64[ns]
 1   Facebook.wiki                  1282 non-null   int64
 2   Google.wiki                    1282 non-null   int64
 3   Microsoft.wiki                 1282 non-null   int64
 4   Amazon (company).wiki          1282 non-null   int64
 5   Apple Inc..wiki                1282 non-null   int64
 6   AAPL                           1282 non-null   float64
 7   AMZN                           1282 non-null   float64
 8   FB                             1282 non-null   float64
 9   GOOGL                          1282 non-null   float64
 10  MSFT                           1282 non-null   float64
 11  FB_return                      1282 non-null   float64
 12  FB_change                      1282 non-null   float64
 13  GOOGL_return                   1282 non-null   float64
 14  GOOGL_change                   1282 non-null   float64
 15  MSFT_return                    1282 non-null   float64
 16  MSFT_change                    1282 non-null   float64
 17  AMZN_return                    1282 non-null   float64
 18  AMZN_change                    1282 non-null   float64
 19  AAPL_return                    1282 non-null   float64
 20  AAPL_change                    1282 non-null   float64
 21  Facebook.wiki_t-1              1282 non-null   float64
 22  Facebook.wiki_t-2              1282 non-null   float64
 23  Facebook.wiki_t-3              1282 non-null   float64
 24  Google.wiki_t-1                1282 non-null   float64
 25  Google.wiki_t-2                1282 non-null   float64
 26  Google.wiki_t-3                1282 non-null   float64
 27  Microsoft.wiki_t-1             1282 non-null   float64
 28  Microsoft.wiki_t-2             1282 non-null   float64
 29  Microsoft.wiki_t-3             1282 non-null   float64
 30  Amazon (company).wiki_t-1      1282 non-null   float64
 31  Amazon (company).wiki_t-2      1282 non-null   float64
 32  Amazon (company).wiki_t-3      1282 non-null   float64
 33  Apple Inc..wiki_t-1            1282 non-null   float64
 34  Apple Inc..wiki_t-2            1282 non-null   float64
 35  Apple Inc..wiki_t-3            1282 non-null   float64
 36  FB_return_t-1                  1282 non-null   float64
 37  FB_return_t-2                  1282 non-null   float64
 38  FB_return_t-3                  1282 non-null   float64
 39  GOOGL_return_t-1               1282 non-null   float64
 40  GOOGL_return_t-2               1282 non-null   float64
 41  GOOGL_return_t-3               1282 non-null   float64
 42  MSFT_return_t-1                1282 non-null   float64
 43  MSFT_return_t-2                1282 non-null   float64
 44  MSFT_return_t-3                1282 non-null   float64
 45  AMZN_return_t-1                1282 non-null   float64
 46  AMZN_return_t-2                1282 non-null   float64
 47  AMZN_return_t-3                1282 non-null   float64
 48  AAPL_return_t-1                1282 non-null   float64
 49  AAPL_return_t-2                1282 non-null   float64
 50  AAPL_return_t-3                1282 non-null   float64
 51  Facebook.wiki_t-1_t-2          1282 non-null   float64
 52  Facebook.wiki_t-2_t-3          1282 non-null   float64
 53  Facebook.wiki_t-3_t-4          1282 non-null   float64
 54  Google.wiki_t-1_t-2            1282 non-null   float64
 55  Google.wiki_t-2_t-3            1282 non-null   float64
 56  Google.wiki_t-3_t-4            1282 non-null   float64
 57  Microsoft.wiki_t-1_t-2         1282 non-null   float64
 58  Microsoft.wiki_t-2_t-3         1282 non-null   float64
 59  Microsoft.wiki_t-3_t-4         1282 non-null   float64
 60  Amazon (company).wiki_t-1_t-2  1282 non-null   float64
 61  Amazon (company).wiki_t-2_t-3  1282 non-null   float64
 62  Amazon (company).wiki_t-3_t-4  1282 non-null   float64
 63  Apple Inc..wiki_t-1_t-2        1282 non-null   float64
 64  Apple Inc..wiki_t-2_t-3        1282 non-null   float64
 65  Apple Inc..wiki_t-3_t-4        1282 non-null   float64
dtypes: datetime64[ns](1), float64(60), int64(5)
memory usage: 661.2 KB

In [12]:
# merge two data set 
df = pd.concat([fb_tw, fb]).sort_values('publish_date')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8705 entries, 1571 to 4072
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stories_id       8705 non-null   int64
 1   publish_date     8699 non-null   datetime64[ns]
 2   title            8705 non-null   object
 3   url              8705 non-null   object
 4   language         8686 non-null   object
 5   ap_syndicated    8705 non-null   bool
 6   themes           1612 non-null   object
 7   media_id         8705 non-null   int64
 8   media_name       8705 non-null   object
 9   media_url        8705 non-null   object
 10  scraped_article  8705 non-null   object
 11  title_FB_only    4053 non-null   object
 12  BOG              4053 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(9)
memory usage: 892.6+ KB

In [13]:
df = df.reset_index()
df['date'] = df['publish_date'].apply(lambda x: x.date())

## Part 1 Translation

In [14]:
# Handle text and language 
print(df['language'].unique())

['en' 'es' 'de' 'pt' nan 'nn' 'fr' 'nl' 'ca' 'it' 'tl' 'hi' 'ro' 'id' 'zh'
 'ja']

In [21]:
df = df.drop(columns = ['index'])

* translate all languages into the english 

* An example in French:

In [18]:
translator.translate(df[df['language'] == 'fr'].loc[2894]['title']).text

'UN accuses Facebook of fueling Rohingya crisis'

* An example in Chinese:

In [19]:
translator.translate('这是一只铅笔').text

'This is a pencil'

In [25]:
def translater(text): 
    return translator.translate(text).text

In [24]:
df['translated'] = df['scraped_article'].apply(lambda x: translater(x))

NameError: name 'translater' is not defined

## Part 2 - Text Cleaning

In [6]:
example_text = df.loc[0]['translateda_mix']
print(example_text)

Ethan Ralph on Twitter: "#GamerGate Ultras over on Facebook appreciates Big Randi's help. http://t.co/O7BuLk1UGu"

In [7]:
## Existing pieline 
forbidden_list = []
output2 = test_cleaner.text_pipline(example_text, forbidden_list).lower()
print(output2)

ralph twitter appreciate big help

In [6]:
def CountFrequency(my_list): 
    # Creating an empty dictionary  
    freq = {} 
    for item in my_list: 
        if (item in freq): 
            freq[item] += 1
        else: 
            freq[item] = 1
    return freq

In [9]:
df['translateda_mix_cleaned'] = df['translateda_mix'].apply(lambda x: test_cleaner.text_pipline(x, forbidden_list).lower())

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8705 entries, 0 to 8704
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stories_id               8705 non-null   int64
 1   publish_date             8699 non-null   datetime64[ns]
 2   title                    8705 non-null   object
 3   url                      8705 non-null   object
 4   language                 8686 non-null   object
 5   ap_syndicated            8705 non-null   bool
 6   themes                   1612 non-null   object
 7   media_id                 8705 non-null   int64
 8   media_name               8705 non-null   object
 9   media_url                8705 non-null   object
 10  scraped_article          8705 non-null   object
 11  title_FB_only            4053 non-null   object
 12  BOG                      4053 non-null   object
 13  date                     8699 non-null   object
 14  translateda_mix          8705 non-null   object
 15  translateda_headline     8705 non-null   object
 16  translateda_mix_cleaned  8705 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(13)
memory usage: 1.1+ MB

In [17]:
df[df['translateda_mix_cleaned'] == 'noinfo'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 973 entries, 3 to 8704
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stories_id               973 non-null    int64
 1   publish_date             970 non-null    datetime64[ns]
 2   title                    973 non-null    object
 3   url                      973 non-null    object
 4   language                 970 non-null    object
 5   ap_syndicated            973 non-null    bool
 6   themes                   134 non-null    object
 7   media_id                 973 non-null    int64
 8   media_name               973 non-null    object
 9   media_url                973 non-null    object
 10  scraped_article          973 non-null    object
 11  title_FB_only            125 non-null    object
 12  BOG                      125 non-null    object
 13  date                     970 non-null    object
 14  translateda_mix          973 non-null    object
 15  translateda_headline     973 non-null    object
 16  translateda_mix_cleaned  973 non-null    object
dtypes: bool(1), datetime64[ns](1), int64(2), object(13)
memory usage: 130.2+ KB

In [18]:
df_2 = df[df['translateda_mix_cleaned'] != 'noinfo']
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7732 entries, 0 to 8703
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stories_id               7732 non-null   int64
 1   publish_date             7729 non-null   datetime64[ns]
 2   title                    7732 non-null   object
 3   url                      7732 non-null   object
 4   language                 7716 non-null   object
 5   ap_syndicated            7732 non-null   bool
 6   themes                   1478 non-null   object
 7   media_id                 7732 non-null   int64
 8   media_name               7732 non-null   object
 9   media_url                7732 non-null   object
 10  scraped_article          7732 non-null   object
 11  title_FB_only            3928 non-null   object
 12  BOG                      3928 non-null   object
 13  date                     7729 non-null   object
 14  translateda_mix          7732 non-null   object
 15  translateda_headline     7732 non-null   object
 16  translateda_mix_cleaned  7732 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(13)
memory usage: 1.0+ MB

In [19]:
df_2['translateda_headline_cleaned'] = df_2['translateda_headline'].apply(lambda x: test_cleaner.text_pipline(x, forbidden_list).lower())

In [20]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7732 entries, 0 to 8703
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stories_id                    7732 non-null   int64
 1   publish_date                  7729 non-null   datetime64[ns]
 2   title                         7732 non-null   object
 3   url                           7732 non-null   object
 4   language                      7716 non-null   object
 5   ap_syndicated                 7732 non-null   bool
 6   themes                        1478 non-null   object
 7   media_id                      7732 non-null   int64
 8   media_name                    7732 non-null   object
 9   media_url                     7732 non-null   object
 10  scraped_article               7732 non-null   object
 11  title_FB_only                 3928 non-null   object
 12  BOG                           3928 non-null   object
 13  date                          7729 non-null   object
 14  translateda_mix               7732 non-null   object
 15  translateda_headline          7732 non-null   object
 16  translateda_mix_cleaned       7732 non-null   object
 17  translateda_headline_cleaned  7732 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(14)
memory usage: 1.1+ MB

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [51]:
#def TFIDF (string): 
def tf(string): 
    vec = TfidfVectorizer(use_idf=False)
    analysed = vec.fit_transform([string])
    return {u:v for (u, v) in zip(vec.get_feature_names(),analysed.toarray().tolist()[0])}

In [52]:
#df_2.to_csv('df_transed_cleaned.csv')
df_2 = pd.read_csv('df_transed_cleaned.csv').drop(columns = ['Unnamed: 0'])
df_2['publish_date'] = pd.to_datetime(df_2['publish_date'])

In [53]:
df_2['translateda_mix_cleaned'] = df_2['translateda_mix_cleaned'].astype(str)
df_2['translateda_headline_cleaned'] = df_2['translateda_headline_cleaned'].astype(str)
df_2['translateda_mix_dic'] = df_2['translateda_mix_cleaned'].apply(lambda x: tf(x))
df_2['translateda_headline_dic'] = df_2['translateda_headline_cleaned'].apply(lambda x: tf(x))

In [54]:
df_2.head()

,stories_id,publish_date,title,url,language,ap_syndicated,themes,media_id,media_name,media_url,scraped_article,title_FB_only,BOG,date,translateda_mix,translateda_headline,translateda_mix_cleaned,translateda_headline_cleaned,translateda_mix_dic,translateda_headline_dic
0,865782065,2015-01-03 18:12:00,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",https://twitter.com/TheRalphRetort/status/5515...,en,False,NaN,18346,Twitter,http://twitter.com,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",NaN,NaN,2015-01-03,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...","Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",ralph twitter appreciate big help,ralph twitter appreciate big help,"{'appreciate': 0.4472135954999579, 'big': 0.44...","{'appreciate': 0.4472135954999579, 'big': 0.44..."
1,335784736,2015-01-07 07:23:39,The Daily Rupert on Twitter: &quot;Facebook v...,https://twitter.com/TheMurdochTimes/status/552...,en,False,NaN,18346,Twitter,http://twitter.com,The Daily Rupert on Twitter: &quot;Facebook v...,NaN,NaN,2015-01-07,The Daily Rupert on Twitter: &quot;Facebook v...,The Daily Rupert on Twitter: &quot;Facebook v...,daily twitter video image terrorist outside of...,daily twitter video image terrorist outside of...,"{'attack': 0.30151134457776363, 'daily': 0.301...","{'attack': 0.30151134457776363, 'daily': 0.301..."
2,335817091,2015-01-07 12:32:58,teleSUR TV on Twitter: &quot;El Festival de Ca...,https://twitter.com/teleSURtv/status/552880585...,en,False,NaN,18346,Twitter,http://twitter.com,teleSUR TV on Twitter: &quot;El Festival de Ca...,NaN,NaN,2015-01-07,teleSUR TV on Twitter: &quot;El Festival de Ca...,teleSUR TV on Twitter: &quot;El Festival de Ca...,twitter festival de en en,twitter festival de en en,"{'de': 0.3779644730092272, 'en': 0.75592894601...","{'de': 0.3779644730092272, 'en': 0.75592894601..."
3,320258910,2015-01-15 21:39:09,Stop Patriarchy on Twitter: &quot;Tune in to n...,https://twitter.com/StopPatriarchy/status/5559...,en,False,NaN,18346,Twitter,http://twitter.com,Stop Patriarchy on Twitter: &quot;Tune in to n...,NaN,NaN,2015-01-15,Stop Patriarchy on Twitter: &quot;Tune in to n...,Stop Patriarchy on Twitter: &quot;Tune in to n...,stop patriarchy twitter join event,stop patriarchy twitter join event,"{'event': 0.4472135954999579, 'join': 0.447213...","{'event': 0.4472135954999579, 'join': 0.447213..."
4,372077690,2015-01-24 07:00:00,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,https://archive.is/ArtrI,en,False,computers and the internet,18346,Twitter,http://twitter.com,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,NaN,NaN,2015-01-24,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,blocker twitter kop could not keep mouth shut ...,blocker twitter kop could not keep mouth shut ...,"{'blocker': 0.30151134457776363, 'confirm': 0....","{'blocker': 0.30151134457776363, 'confirm': 0...."

In [55]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7732 entries, 0 to 7731
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stories_id                    7732 non-null   int64
 1   publish_date                  7729 non-null   datetime64[ns]
 2   title                         7732 non-null   object
 3   url                           7732 non-null   object
 4   language                      7716 non-null   object
 5   ap_syndicated                 7732 non-null   bool
 6   themes                        1478 non-null   object
 7   media_id                      7732 non-null   int64
 8   media_name                    7732 non-null   object
 9   media_url                     7732 non-null   object
 10  scraped_article               7732 non-null   object
 11  title_FB_only                 3928 non-null   object
 12  BOG                           3928 non-null   object
 13  date                          7729 non-null   object
 14  translateda_mix               7732 non-null   object
 15  translateda_headline          7732 non-null   object
 16  translateda_mix_cleaned       7732 non-null   object
 17  translateda_headline_cleaned  7732 non-null   object
 18  translateda_mix_dic           7732 non-null   object
 19  translateda_headline_dic      7732 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(16)
memory usage: 1.1+ MB

In [70]:
def bog_trans_itf(df_2): 
    
    ## generate the string 
    total_string = ""
    for item in list(df_2['translateda_mix_dic'].values):
        total_string += " " + " ".join(list(item.keys()))
    total_list = [x for x in total_string.split(' ')]
    BOW = set(total_list)
    
    ## generate the dictrionary 
    result = dict.fromkeys(BOW, [0]*len(df_2['translateda_mix_dic']))

    ## get the result 
    lis = df_2['translateda_mix_dic'].values.flatten()

    for i in range(len(lis)): 
        for key in lis[i].keys(): 
            result[key][i] = lis[i][key]

    total_docs = df_2.shape[0]

    for key in result.keys(): 
        count_of_zero = result[key].count(0)
        df_2[key] =  [x * float(np.log(total_docs/(total_docs - count_of_zero))) for x in result[key]]

    return df_2

In [71]:
df_2 = bog_trans_itf(df_2)

### Starting node BOW - Article & Headline NO - TF - Columns checking

In [72]:
columns = df_2.columns

In [73]:
columns [0:20]

Index(['stories_id', 'publish_date', 'title', 'url', 'language',
       'ap_syndicated', 'themes', 'media_id', 'media_name', 'media_url',
       'scraped_article', 'title_FB_only', 'BOG', 'date', 'translateda_mix',
       'translateda_headline', 'translateda_mix_cleaned',
       'translateda_headline_cleaned', 'translateda_mix_dic',
       'translateda_headline_dic'],
      dtype='object')

In [74]:
columns[20:]

Index(['', 'landlord', 'adore', 'persuasive', 'annual', 'query', 'light',
       'decliner', 'hurtful', 'mismatch',
       ...
       'wallet', 'intrusive', 'diversity', 'subside', 'prompt', 'unseal',
       'attentive', 'barn', 'pigeon', 'eu'],
      dtype='object', length=10030)

In [75]:
bid_list = list(df_2['media_name'].unique()) +['barrons','bloomberg','financial times','marketwatch','twitter','reuters']

In [76]:
import re 
## check if the string contains speical charaters
def run(string): 
# Make own character set and pass  
# this as argument in compile method 
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]') 
    # Pass the string in search  
    # method of regex object.     
    if(regex.search(string) == None): 
        #print("String is accepted") 
        return True 
    else: 
        print("Column " + string + " is not accepted.") 
        return False

In [77]:
def hasNumbers(inputString):
    if any(char.isdigit() for char in inputString) == True: 
        print('Column ' + inputString + " is not accepted." )
        return True 
    else: 
        return False

In [78]:
column_tb_check = list(columns[20:])
fianlised_cols = []
for col in column_tb_check: 
    if run(col) == True: 
        if hasNumbers(col) == False: 
            if len(col) > 2:
                if col not in bid_list: 
                   fianlised_cols.append(col)

                else: 
                    print(col)
            else: 
                print(col)
print(len(fianlised_cols))

ah
mu
na
yo
ha
ca
li
xi
er
em
twitter
de
se
jo
om
ai
io
es
ka
hi
la
um
ur
si
ie
en
pi
bu
us
un
ge
st
th
yr
ea
el
wi
di
ko
ym
oh
go
pa
ho
os
id
da
fa
ye
ne
te
ba
sa
eh
al
wo
lo
ex
ad
ga
ce
aa
fe
ya
wa
mi
mo
ar
ak
eu
9959

In [79]:
final_total_col = list(columns[0:20]) + fianlised_cols
print(len(final_total_col))

9979

In [80]:
df_3 = df_2[final_total_col]
print(len(df_3.columns))

9979

In [81]:
columns_df_2 = list(df_2.columns)

In [82]:
df_3.head()

,stories_id,publish_date,title,url,language,ap_syndicated,themes,media_id,media_name,media_url,...,shake,wallet,intrusive,diversity,subside,prompt,unseal,attentive,barn,pigeon
0,865782065,2015-01-03 18:12:00,0.0,https://twitter.com/TheRalphRetort/status/5515...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,335784736,2015-01-07 07:23:39,0.0,https://twitter.com/TheMurdochTimes/status/552...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,335817091,2015-01-07 12:32:58,0.0,https://twitter.com/teleSURtv/status/552880585...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,320258910,2015-01-15 21:39:09,0.0,https://twitter.com/StopPatriarchy/status/5559...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,372077690,2015-01-24 07:00:00,0.0,https://archive.is/ArtrI,0.0,False,computers and the internet,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
df_3['date'] = df_3['publish_date'].apply(lambda x: x.date())
df_setB_node1 = df_3.set_index('date')
df_setB_node1.head()

,stories_id,publish_date,title,url,language,ap_syndicated,themes,media_id,media_name,media_url,...,shake,wallet,intrusive,diversity,subside,prompt,unseal,attentive,barn,pigeon
date,,,,,,,,,,,,,,,,,,,,,
2015-01-03,865782065,2015-01-03 18:12:00,0.0,https://twitter.com/TheRalphRetort/status/5515...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-07,335784736,2015-01-07 07:23:39,0.0,https://twitter.com/TheMurdochTimes/status/552...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-07,335817091,2015-01-07 12:32:58,0.0,https://twitter.com/teleSURtv/status/552880585...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-15,320258910,2015-01-15 21:39:09,0.0,https://twitter.com/StopPatriarchy/status/5559...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-24,372077690,2015-01-24 07:00:00,0.0,https://archive.is/ArtrI,0.0,False,computers and the internet,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#df_setA_node1.to_csv('df_setA_node1.csv')

In [84]:
df_setB_node1_ = df_setB_node1.groupby(df_setB_node1.index)[fianlised_cols].sum()
df_setB_node1_.head()
df_setB_node1_.to_csv('df_setB_node1_.csv')

In [85]:
#df_setB_node1_.to_csv('df_setB_node1_.csv')

In [86]:
#f = f.set_index('date')
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1282 entries, 0 to 1281
Data columns (total 66 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           1282 non-null   datetime64[ns]
 1   Facebook.wiki                  1282 non-null   int64
 2   Google.wiki                    1282 non-null   int64
 3   Microsoft.wiki                 1282 non-null   int64
 4   Amazon (company).wiki          1282 non-null   int64
 5   Apple Inc..wiki                1282 non-null   int64
 6   AAPL                           1282 non-null   float64
 7   AMZN                           1282 non-null   float64
 8   FB                             1282 non-null   float64
 9   GOOGL                          1282 non-null   float64
 10  MSFT                           1282 non-null   float64
 11  FB_return                      1282 non-null   float64
 12  FB_change                      1282 non-null   float64
 13  GOOGL_return                   1282 non-null   float64
 14  GOOGL_change                   1282 non-null   float64
 15  MSFT_return                    1282 non-null   float64
 16  MSFT_change                    1282 non-null   float64
 17  AMZN_return                    1282 non-null   float64
 18  AMZN_change                    1282 non-null   float64
 19  AAPL_return                    1282 non-null   float64
 20  AAPL_change                    1282 non-null   float64
 21  Facebook.wiki_t-1              1282 non-null   float64
 22  Facebook.wiki_t-2              1282 non-null   float64
 23  Facebook.wiki_t-3              1282 non-null   float64
 24  Google.wiki_t-1                1282 non-null   float64
 25  Google.wiki_t-2                1282 non-null   float64
 26  Google.wiki_t-3                1282 non-null   float64
 27  Microsoft.wiki_t-1             1282 non-null   float64
 28  Microsoft.wiki_t-2             1282 non-null   float64
 29  Microsoft.wiki_t-3             1282 non-null   float64
 30  Amazon (company).wiki_t-1      1282 non-null   float64
 31  Amazon (company).wiki_t-2      1282 non-null   float64
 32  Amazon (company).wiki_t-3      1282 non-null   float64
 33  Apple Inc..wiki_t-1            1282 non-null   float64
 34  Apple Inc..wiki_t-2            1282 non-null   float64
 35  Apple Inc..wiki_t-3            1282 non-null   float64
 36  FB_return_t-1                  1282 non-null   float64
 37  FB_return_t-2                  1282 non-null   float64
 38  FB_return_t-3                  1282 non-null   float64
 39  GOOGL_return_t-1               1282 non-null   float64
 40  GOOGL_return_t-2               1282 non-null   float64
 41  GOOGL_return_t-3               1282 non-null   float64
 42  MSFT_return_t-1                1282 non-null   float64
 43  MSFT_return_t-2                1282 non-null   float64
 44  MSFT_return_t-3                1282 non-null   float64
 45  AMZN_return_t-1                1282 non-null   float64
 46  AMZN_return_t-2                1282 non-null   float64
 47  AMZN_return_t-3                1282 non-null   float64
 48  AAPL_return_t-1                1282 non-null   float64
 49  AAPL_return_t-2                1282 non-null   float64
 50  AAPL_return_t-3                1282 non-null   float64
 51  Facebook.wiki_t-1_t-2          1282 non-null   float64
 52  Facebook.wiki_t-2_t-3          1282 non-null   float64
 53  Facebook.wiki_t-3_t-4          1282 non-null   float64
 54  Google.wiki_t-1_t-2            1282 non-null   float64
 55  Google.wiki_t-2_t-3            1282 non-null   float64
 56  Google.wiki_t-3_t-4            1282 non-null   float64
 57  Microsoft.wiki_t-1_t-2         1282 non-null   float64
 58  Microsoft.wiki_t-2_t-3         1282 non-null   float64
 59  Microsoft.wiki_t-3_t-4         1282 non-null   float64
 60  Amazon (company).wiki_t-1_t-2  1282 non-null   float64
 61  Amazon (company).wiki_t-2_t-3  1282 non-null   float64
 62  Amazon (company).wiki_t-3_t-4  1282 non-null   float64
 63  Apple Inc..wiki_t-1_t-2        1282 non-null   float64
 64  Apple Inc..wiki_t-2_t-3        1282 non-null   float64
 65  Apple Inc..wiki_t-3_t-4        1282 non-null   float64
dtypes: datetime64[ns](1), float64(60), int64(5)
memory usage: 661.2 KB

In [87]:
data_setB_node1 = f.merge(df_setB_node1_, left_index = True, right_index = True, how = 'left')
data_setB_node1 = data_setB_node1.fillna(0)
data_setB_node1.head()
#data_setB_node1.to_csv('data_setB_node1.csv')

,date,Facebook.wiki,Google.wiki,Microsoft.wiki,Amazon (company).wiki,Apple Inc..wiki,AAPL,AMZN,FB,GOOGL,...,shake,wallet,intrusive,diversity,subside,prompt,unseal,attentive,barn,pigeon
0,2015-07-08,45403,45521,10472,1,14554,112.758286,429.700012,85.650002,541.700012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-07-09,47202,43295,9806,1,13725,110.458405,434.390015,85.879997,544.650024,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-07-10,46622,42652,7816,0,12394,113.411430,443.510010,87.949997,556.109985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-07-13,47063,44437,7857,2,12479,115.600922,455.570007,90.099998,571.729980,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-07-14,44508,45269,7314,0,11447,115.554909,465.570007,89.680000,584.179993,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
data_setB_node1.to_csv('data_setB_node1.csv')

## SET A Node 2 - Headline

In [90]:
#def TFIDF (string): 
def tf(string): 
    vec = TfidfVectorizer(use_idf=False)
    analysed = vec.fit_transform([string])
    return {u:v for (u, v) in zip(vec.get_feature_names(),analysed.toarray().tolist()[0])}

In [91]:
df_2 = pd.read_csv('df_transed_cleaned.csv').drop(columns = ['Unnamed: 0'])
df_2['publish_date'] = pd.to_datetime(df_2['publish_date'])

In [92]:
df_2['translateda_mix_cleaned'] = df_2['translateda_mix_cleaned'].astype(str)
df_2['translateda_headline_cleaned'] = df_2['translateda_headline_cleaned'].astype(str)
df_2['translateda_mix_dic'] = df_2['translateda_mix_cleaned'].apply(lambda x: tf(x))
df_2['translateda_headline_dic'] = df_2['translateda_headline_cleaned'].apply(lambda x: tf(x))

In [93]:
df_2.head()

,stories_id,publish_date,title,url,language,ap_syndicated,themes,media_id,media_name,media_url,scraped_article,title_FB_only,BOG,date,translateda_mix,translateda_headline,translateda_mix_cleaned,translateda_headline_cleaned,translateda_mix_dic,translateda_headline_dic
0,865782065,2015-01-03 18:12:00,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",https://twitter.com/TheRalphRetort/status/5515...,en,False,NaN,18346,Twitter,http://twitter.com,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",NaN,NaN,2015-01-03,"Ethan Ralph on Twitter: ""#GamerGate Ultras ove...","Ethan Ralph on Twitter: ""#GamerGate Ultras ove...",ralph twitter appreciate big help,ralph twitter appreciate big help,"{'appreciate': 0.4472135954999579, 'big': 0.44...","{'appreciate': 0.4472135954999579, 'big': 0.44..."
1,335784736,2015-01-07 07:23:39,The Daily Rupert on Twitter: &quot;Facebook v...,https://twitter.com/TheMurdochTimes/status/552...,en,False,NaN,18346,Twitter,http://twitter.com,The Daily Rupert on Twitter: &quot;Facebook v...,NaN,NaN,2015-01-07,The Daily Rupert on Twitter: &quot;Facebook v...,The Daily Rupert on Twitter: &quot;Facebook v...,daily twitter video image terrorist outside of...,daily twitter video image terrorist outside of...,"{'attack': 0.30151134457776363, 'daily': 0.301...","{'attack': 0.30151134457776363, 'daily': 0.301..."
2,335817091,2015-01-07 12:32:58,teleSUR TV on Twitter: &quot;El Festival de Ca...,https://twitter.com/teleSURtv/status/552880585...,en,False,NaN,18346,Twitter,http://twitter.com,teleSUR TV on Twitter: &quot;El Festival de Ca...,NaN,NaN,2015-01-07,teleSUR TV on Twitter: &quot;El Festival de Ca...,teleSUR TV on Twitter: &quot;El Festival de Ca...,twitter festival de en en,twitter festival de en en,"{'de': 0.3779644730092272, 'en': 0.75592894601...","{'de': 0.3779644730092272, 'en': 0.75592894601..."
3,320258910,2015-01-15 21:39:09,Stop Patriarchy on Twitter: &quot;Tune in to n...,https://twitter.com/StopPatriarchy/status/5559...,en,False,NaN,18346,Twitter,http://twitter.com,Stop Patriarchy on Twitter: &quot;Tune in to n...,NaN,NaN,2015-01-15,Stop Patriarchy on Twitter: &quot;Tune in to n...,Stop Patriarchy on Twitter: &quot;Tune in to n...,stop patriarchy twitter join event,stop patriarchy twitter join event,"{'event': 0.4472135954999579, 'join': 0.447213...","{'event': 0.4472135954999579, 'join': 0.447213..."
4,372077690,2015-01-24 07:00:00,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,https://archive.is/ArtrI,en,False,computers and the internet,18346,Twitter,http://twitter.com,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,NaN,NaN,2015-01-24,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,Blocker (Mr. Fart) on Twitter: &quot;#GamerGat...,blocker twitter kop could not keep mouth shut ...,blocker twitter kop could not keep mouth shut ...,"{'blocker': 0.30151134457776363, 'confirm': 0....","{'blocker': 0.30151134457776363, 'confirm': 0...."

In [94]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7732 entries, 0 to 7731
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stories_id                    7732 non-null   int64
 1   publish_date                  7729 non-null   datetime64[ns]
 2   title                         7732 non-null   object
 3   url                           7732 non-null   object
 4   language                      7716 non-null   object
 5   ap_syndicated                 7732 non-null   bool
 6   themes                        1478 non-null   object
 7   media_id                      7732 non-null   int64
 8   media_name                    7732 non-null   object
 9   media_url                     7732 non-null   object
 10  scraped_article               7732 non-null   object
 11  title_FB_only                 3928 non-null   object
 12  BOG                           3928 non-null   object
 13  date                          7729 non-null   object
 14  translateda_mix               7732 non-null   object
 15  translateda_headline          7732 non-null   object
 16  translateda_mix_cleaned       7732 non-null   object
 17  translateda_headline_cleaned  7732 non-null   object
 18  translateda_mix_dic           7732 non-null   object
 19  translateda_headline_dic      7732 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(16)
memory usage: 1.1+ MB

In [95]:
def bog_trans_idf(df_2, col = 'translateda_headline_dic'): 
    ## generate the string 
    total_string = ""
    for item in list(df_2[col].values):
        total_string += " " + " ".join(list(item.keys()))
    total_list = [x for x in total_string.split(' ')]
    BOW = set(total_list)
    
    ## generate the dictrionary 
    result = dict.fromkeys(BOW, [0]*len(df_2[col]))

    ## get the result 
    lis = df_2[col].values.flatten()

    for i in range(len(lis)): 
        for key in lis[i].keys(): 
            result[key][i] = lis[i][key]

    total_docs = df_2.shape[0]

    for key in result.keys(): 
        count_of_zero = result[key].count(0)
        df_2[key] =  [x * float(np.log(total_docs/(total_docs - count_of_zero))) for x in result[key]]

    return df_2

In [96]:
df_2 = bog_trans_idf(df_2, col = 'translateda_headline_dic')
print(len(df_2.columns))

6472

In [97]:
columns = df_2.columns

In [98]:
column_tb_check = list(columns[20:])
fianlised_cols = []
for col in column_tb_check: 
    if run(col) == True: 
        if hasNumbers(col) == False: 
            if len(col) > 2:
                if col not in bid_list: 
                   fianlised_cols.append(col)

                else: 
                    print(col)
            else: 
                print(col)
print(len(fianlised_cols))

ah
na
yo
ha
ca
li
xi
er
em
twitter
de
se
jo
om
ai
ka
hi
la
um
ur
si
ie
en
us
un
ge
st
th
yr
ea
el
wi
di
oh
go
pa
os
id
da
fa
ne
te
ba
sa
eh
al
wo
lo
ex
ad
ga
ce
fe
ya
wa
mi
ar
ak
eu
6392

In [99]:
final_total_col = list(columns[0:20]) + fianlised_cols
print(len(final_total_col))

6412

In [100]:
df_3 = df_2[final_total_col]
print(len(df_3.columns))

6412

In [101]:
df_3.head()

,stories_id,publish_date,title,url,language,ap_syndicated,themes,media_id,media_name,media_url,...,misleading,disproportionate,york,shake,wallet,intrusive,diversity,prompt,attentive,pigeon
0,865782065,2015-01-03 18:12:00,0.0,https://twitter.com/TheRalphRetort/status/5515...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,335784736,2015-01-07 07:23:39,0.0,https://twitter.com/TheMurdochTimes/status/552...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,335817091,2015-01-07 12:32:58,0.0,https://twitter.com/teleSURtv/status/552880585...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,320258910,2015-01-15 21:39:09,0.0,https://twitter.com/StopPatriarchy/status/5559...,0.0,False,NaN,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,372077690,2015-01-24 07:00:00,0.0,https://archive.is/ArtrI,0.0,False,computers and the internet,18346,Twitter,http://twitter.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
df_3['date'] = df_3['publish_date'].apply(lambda x: x.date())
df_setB_node2 = df_3.set_index('date')
#df_setA_node1.head()
df_setB_node2_ = df_setB_node2.groupby(df_setB_node2.index)[fianlised_cols].sum()
#df_setA_node2_.to_csv('df_setA_node2_.csv')
df_setB_node2_.head()

,landlord,adore,annual,query,light,dismantle,hurtful,teammate,attain,anonymously,...,misleading,disproportionate,york,shake,wallet,intrusive,diversity,prompt,attentive,pigeon
date,,,,,,,,,,,,,,,,,,,,,
2015-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
#df_setB_node2_.to_csv('df_setB_node2_.csv')

In [104]:
data_setB_node2 = f.merge(df_setB_node2_, left_index = True, right_index = True, how = 'left')
data_setB_node2 = data_setB_node2.fillna(0)
data_setB_node2.head()
#data_setB_node2.to_csv('data_setB_node2.csv')

,date,Facebook.wiki,Google.wiki,Microsoft.wiki,Amazon (company).wiki,Apple Inc..wiki,AAPL,AMZN,FB,GOOGL,...,misleading,disproportionate,york,shake,wallet,intrusive,diversity,prompt,attentive,pigeon
0,2015-07-08,45403,45521,10472,1,14554,112.758286,429.700012,85.650002,541.700012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-07-09,47202,43295,9806,1,13725,110.458405,434.390015,85.879997,544.650024,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-07-10,46622,42652,7816,0,12394,113.411430,443.510010,87.949997,556.109985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-07-13,47063,44437,7857,2,12479,115.600922,455.570007,90.099998,571.729980,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-07-14,44508,45269,7314,0,11447,115.554909,465.570007,89.680000,584.179993,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0